hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

.Registerbtn {
    background-color: lightseagreen;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    width: 100%;
    cursor: pointer;g
}